*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(40, 85, 70);
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 12px;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    font-size: 1.5rem;
    color:#b0413e;
}
.reset{
    padding: 20px;
    font-size: 1.25rem;
    border-radius: 12px;            
    border:none;
    background-color: #191913;
    color:white ;
}
.new{
    padding: 20px;
    font-size: 1.25rem;
    border-radius: 12px;            
    border:none;
    background-color: #191913;
    color:white ;
}
.msg-container{
    height: 60vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1.5rem;
}
.msg{
    color: #191913;
    font-size: 5vmin;
}
.hide{
    display: none;
}